* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 2rem;
}

header h1 {
  font-size: 1rem; /* Fixes gap between logo and nav */
  font-family: 'Markazi Text', serif;
  padding: 1rem;
}

h1 {
  font-size: clamp(2rem, 5vw, 4rem); /* Adjusted for 64pt */
  font-family: 'Markazi Text', serif;
}

h2 {
  font-size: clamp(2rem, 4vw, 2.5rem); /* Adjusted for 40pt */
  font-family: 'Markazi Text', serif;
  color: #F4CE14;
}

h3 {
  font-size: clamp(1.5rem, 3vw, 2rem); /* Adjusted for 32pt */
  font-family: 'Markazi Text', serif;
}

h4 {
  font-size: clamp(1.25rem, 2vw, 1.5rem); /* Adjusted for 24pt */
  font-family: 'Markazi Text', serif;
}

h5 {
  font-size: clamp(0.5rem, 1vw, 1rem); /* Adjusted for 16pt */
  font-family: 'Markazi Text', serif;
}

h6 {
  font-size: clamp(0.25rem, 0.5vw, 0.75rem); /* Adjusted for 12pt */
  font-family: 'Markazi Text', serif;
}

header img {
  height: 5vh;
  min-height: 40px;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 1.4rem;
  list-style: none;
  flex-wrap: wrap;
  padding: 1rem;
  padding-top: 0.5rem;
}

nav li {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /* Alternative to Karla */
  font-weight: bold;
  font-size: clamp(1.25rem, 2.5vw, 1.66rem); /* Adjusted for 20pt */
}

nav a {
  color: black;
  text-decoration: none;
}

nav a:hover {
  color: #495E57;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

p {
  font-size: clamp(1rem, 2vw, 1.25rem); /* Adjusted for 16pt */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /* Alternative to Karla */
  line-height: 1.3rem;
}

span {
  font-size: clamp(1rem, 2vw, 1.25rem); /* Adjusted for 16pt */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /* Alternative to Karla */
}

button {
  margin-top: 1rem;
  background-color: #F4CE14;
  padding: 0.5rem 1rem;
  font-weight: bold;
  font-size: clamp(1rem, 2vw, 1.25rem); /* Adjusted for 16pt */
  border-radius: 16px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /* Alternative to Karla */
}

button:hover {
  background-color: #EDEFEE;
}

.call-to-action {
  display: flex;
  align-items: flex-start;
  background-color: #495E57;
  color: white;
  padding: 2rem;
  justify-content: space-between;
  gap: 1rem;
}

.split-left {
  width: 40%;
}

#restaurant-pic {
  border-radius: 16px;
  width: clamp(6rem, 30vw, 18rem);
  height: clamp(8rem, 30vw, 14rem);
  object-fit: cover;
  margin-right: 2rem;
  align-self: center;
}

.specials-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.specials {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
  border-radius: 16px;
  background-color: #EDEFEE;
  width: clamp(12rem, 30vw, 18rem);
}

.card img {
  width: 100%;
  height: 10rem;
  object-fit: cover;
  border-radius: 8px;
}

.card p {
  padding: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.card span {
  color: #EE9972;
  font-weight: bold;
}

.green-banner {
  background-color: #495E57;
  width: 100%;
  color: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem;
  padding: 2rem;
  background-color: #EDEFEE;
  border-radius: 16px;
  width: clamp(20rem, 50vw, 30rem);
}

input, select {
  margin-bottom: 0.5rem;
}